<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word game</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>

    <div class="title">
      <h1>Mystery Word Game</h1>
    </div>

    <div class="difficultyForm">
      <form class="" action="/setup" method="post">
        <label for="gameDiff">Please select difficulty</label>
        <select name="gameDiff" id="">
            <option value="easy">Easy</option>
            <option value="normal">Normal</option>
            <option value="hard">Hard</option>
            <option value="xhard">Extra Hard</option>
            <option value="nightmare">Nightmare</option>
        </select>
        <button type="submit" name="button">Start Game</button>
      </form>
    </div>

      <img src={{image}} alt="">

  </body>
</html>
